<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Chats
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToUserProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
    <ion-list>
      <ion-item  *ngFor="let chat of chats | async" 
                 (click) = "goToChat(chat.$key)">
          <ion-avatar item-start>
          </ion-avatar>
          <h2>
              <chat-title [chat]="chat"></chat-title>
          </h2>
          <p>Ugh. As if.</p>
      </ion-item>
    </ion-list>
    <button ion-button full (click) = "createNewChat()">
        Create new chat
    </button>
</ion-content>