<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Chats
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToUserProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
    <ion-list>
      <chat-list-item  *ngFor="let chat of chats | async" 
                        [uid] = "chat.$key"
                        (click) = "goToChat(chat.$key)">
      </chat-list-item>
    </ion-list>
    <button ion-button full (click) = "newChat()">
        New chat
    </button>
</ion-content>