<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{(chat | async)?.title}}
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div *ngFor="let message of messages | async"
        class="msg"
        [class.other]=" message.sender !== userUid "
        [class.self]=" message.sender === userUid ">
      {{message.content}}
  </div>
  <ion-item>
    <ion-input type="text" [(ngModel)]="inputMessageContent" placeholder="Your message.."></ion-input>
    <button ion-button item-right (click)="sendMessage()">
      <ion-icon icon-only name="send">
      </ion-icon>
    </button>
  </ion-item>
</ion-content>