<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>
            <ion-label color="dark">
                Forgot password
            </ion-label>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <img src="assets/img/komodo.jpg" />
    <ion-grid>
        <form (ngSubmit)="resetPwd()">
            <ion-row>
                <ion-col col-10>
                    <ion-item>
                        <ion-icon name="mail" item-start color="dark"></ion-icon>
                        <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-9>
                    <button ion-button full round color="dark" type="submit">Send me a reset link</button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!!message">
                <ion-col col-8>
                    <ion-item>{{message}}</ion-item>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>